<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
<div class ="all">
    <div class="header">
        <div class="logo">WAP</div>
        <div id="username"></div>
        <button id="logout">Logout</button>
    </div>

    <h1>Products</h1>
    <div class="products">
        <div class="head-row">
            <div class="column">
                <p class="column-title">Name</p>
            </div>
            <div class="column">
                <p class="column-title">Price</p>
            </div>
            <div class="column">
                <p class="column-title">Image</p>
            </div>
            <div class="column">
                <p class="column-title">Stock</p>
            </div>
            <div class="column">
                <p class="column-title">Action</p>
            </div>
        </div>

    </div>

    <div class="container">
        <h1>Your Shopping Cart</h1>
        <div class="shopping-cart">

        </div>
    </div>

    <div class="left">
        <button id="place-order">
            Place Order
        </button>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

    <script src="index.js"></script>
    <!-- <style>
        .all{
            background-image:  "https://wallpapercave.com/wp/wp3927594.jpg";
       
      
        }
    </style> -->

</body>

</html>