<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Document</title>
</head>
 <!-- <style>
        .all{
            background-image:  "https://wallpapercave.com/wp/wp3927594.jpg";
       
      
        }
    </style> -->

<body style="background-image: url(./BG.webp);">
    <div id="header">
        <div class="logo">WAP</div>
        <div class="input">
            <div class="data">
                <div class="row">
                    <label for="username" id="username-lbl">Username</label>
                    <input type="text" id="username-input">
                </div>
                <div class="row">
                    <label for="password" id="password-lbl">Password</label>
                    <input type="text" id="password-input">
                </div>
            </div>
            <div class="btn">
                <button id="login-btn">Login</button>
            </div>
        </div>
    </div>
    <div class="main">
        <h1>WELCOME TO SIM STORE</h1>
    </div>

    <script src="login.js"></script>
</body>

</html>